* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f4f4;
  color: #222;
}

nav {
  width: 100%;
  background: black;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  color: gold;
  font-weight: 600;
  text-decoration: none;
}

.hero {
  height: 80vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
              url('https://images.unsplash.com/photo-1518770660439-4636190af475') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: gold;
  padding-top: 60px;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background: black;
  color: gold;
  border: 2px solid gold;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-box {
  background: black;
  color: gold;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 600;
}

.project-card {
  background: white;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  margin: 15px auto;
  border-left: 5px solid gold;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.project-card a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.contact-form {
  width: 80%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background: black;
  color: gold;
  padding: 15px;
  text-align: center;
  margin-top: 40px;
}
